.seccion {
  background-color: darkslategray;
  padding: 1rem;
  margin: 1rem;
}

.parrafo {
  background-color: white;
  padding: 1rem;
}

.parrafo.dragging {
  opacity: 0.3;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container a img{
  max-width: 150px;
  max-height: 150px;
}